.profile__edit-button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    background: url(../../../images/Edit_Button.png);
    border: none;
    position: absolute;
    right: 0;
    top: 15px;
    cursor: pointer;
    
}

.profile__edit-button:hover {
    opacity: .6;
    transform: opacity .3s ease;
}

@media screen and (max-width: 950px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        right: 18px;
        top: 9px;
        background: url(../../../images/edit-button-mobile.png);
    }
    
}